@import url('https://fonts.googleapis.com/css?family=Source+Code+Pro');

html, body {
    width: 100%;
    height: 100%;
}

h1, h2, h3, h4, h5, h6 {
    color: white;
    font-family: 'Source Code Pro', Roboto;
}

p{
    font-family: 'Source Code Pro', monospace;
}


.navbar-nav .nav-item .nav-link {
    color: white;
}
.navbar-brand {
    padding: 10px;
}

.navbar-nav {
    margin-left: 30px;
}

.navbar-nav li {
    padding-left: 10px;
}

.navbar-nav i:hover, .navbar-nav .nav-item .nav-link:hover {
    color: tomato;
}

#intro{
    padding: 200px;
    height: 100%;
    background: url('../img/dawn-eerie-environment-1469879.jpg') no-repeat fixed center center;
    background-size: cover;
}

.description-text {
    justify-content: center;
    vertical-align: middle;
    text-align: center;
    color: white;
    font-weight: 600;
}

.description-text button:hover {
    color: tomato;
}

#examples {
    background-size: cover;
    width: 100%;
    padding-left: 20px;
    padding-top: 95px;
    padding-bottom: 50px;
    background-color: #1b1e21;
}

#examples p {
    color: white;
}

#examples img {
    height: 162px;
}

@media screen and (min-width: 320px){
    .description-text {
        margin-top: -60px;
        margin-left: -108px;
    }

}

@media screen and (min-width: 411px){
    #intro .container-fluid {
        padding-left: 62px;
        padding-top: 73px;
    }

    .description-text p {
        padding: 0;
    }

    .description-text h1 {
        margin-left: -11px;
    }
}

@media screen and (min-width: 414px){
    #intro .container-fluid {
        padding-left: 69px;
        padding-top: 61px;
    }

    .description-text p {
        padding: 0;
    }

    .description-text h1 {
        margin-left: -7px;
    }
}
