@import url('https://fonts.googleapis.com/css?family=Source+Code+Pro');

html,
body {
    width: 100%;
    height: 100%;
}

body {
    padding-right: 0px !important;
    overflow-y: visible !important;

}

.btn {
    outline: none;
}

img.myImage {
    width: 100%;
    height: 500px;
    object-fit: cover;
    display: block;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    color: white;
    font-family: 'Source Code Pro', Roboto;
}

p {
    font-family: 'Source Code Pro', monospace;
}

a {
    text-decoration: none;
}


.navbar-nav .nav-item .nav-link {
    color: white;
}

.navbar-brand {
    padding: 10px;
}

.navbar-nav {
    margin-left: 30px;
}

.navbar-nav li {
    padding-left: 10px;
}

.navbar-nav i:hover,
.navbar-nav .nav-item .nav-link:hover {
    color: tomato;
}

#intro {
    height: 100%;
    background: black url('../img/dawn-eerie-environment-1469879.jpg') no-repeat fixed center center;
    background-size: cover;
}



.description-text {
    vertical-align: middle;
    position: absolute;
    top: 20%;
    right: 25%;
    left: 25%;
    margin: 0 auto;
    padding: 2em;
    color: white;
    font-weight: 600;
}

.description-text button:hover {
    color: tomato;
}

#examples {
    background-size: cover;
    width: 100%;
    padding-left: 20px;
    padding-top: 75px;
    padding-bottom: 50px;
    background-color: #090F15;
}

#examples p {
    color: white;
}

#examples img {
    height: 162px;
}


#cr {
    background-color: #fff;
    width: 100%;
    padding-bottom: 0px;
}

.crsl {
    width: 100%;
    position: relative;
    margin: 0 auto;
}


.carouses__item {
    flex: 0 0 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}


.modal-header .close {
    outline: none;
}

#form {
    padding-top: 40px;
    height: 300px;
    background: whitesmoke;
}

#form {
    height: auto;
    padding-bottom: 10px;
    padding-top: 10px;
}

#form .container-fluid {
    width: 30%;
    margin: 0 auto;
}

#form label {
    color: #090F15;
}

footer {
    padding-top: 20px;
    background: #090F15;
    height: 100px;
}

footer p {
    margin-bottom: 5px;
    padding: 0;
    color: #fff;
}

.iconrow a i {
    padding: 0;
    color: #fff;
}

.gt {
    margin-right: 30px
}

@media screen and (max-width: 500px) {

    .description-text p {
        font-size: 13px;
    }

    #form {
        padding-top: 10px;
    }

    #form .container-fluid {
        width: 60%;
    }

    #Text-area {
        height: 150px;
    }

}